<p id="notice"><%= notice %></p>

<h4>Creators</h4>

<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0"> Curriculos Feitos</h4>
            <p class="card-category">Apenas uma tabela com todos os curriculos feitos</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <th>
                            Nome
                        </th>
                          <th>
                            Data de Nascimento
                        </th>
                          <th>
                            Email
                        </th>
                          <th colspan="3">Ações</th>

                    </thead>
                        <tbody>
                          <% @creators.each do |creator| %>
                            <tr>
                              <td><%= creator.name %></td>
                              <td><%= l creator.birthday %></td>
                              <td><%= creator.email %></td>
                              <td><%= link_to 'Ver', creator,class:"btn btn-link" %></td>
                              <td><%= link_to 'Editar', edit_creator_path(creator),class:"btn btn-link" %></td>
                              <td><%= link_to 'Deletar', creator,class:"btn btn-link", method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%= link_to 'Novo Curriculo', new_creator_path,class: "btn btn-success" %>
