<p id="notice"><%= notice %></p>

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title"><%= @creator.name %></h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Dados Pessoais</h4>
                        <div class="alert alert-info">
                          <span>
                                <b> Data de Nascimento - </b><%=l @creator.birthday %></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                                <b> CPF - </b><%= @creator.cpf %></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                            <b> Telefone - </b><%=  number_to_phone(@creator.phone_number,pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true)%></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                                <b> Email - </b><%= @creator.email %></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                                <b> Descrição - </b><%= @creator.description %></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Dados Acadêmicos</h4>

                        <% @creator.academies.each do |academy| %>
                        <div class="alert alert-success">
                            <span><b> Nome - </b> <%= academy.name %></span>
                            <span><b> Data Inicial - </b> <%= l academy.begin_date %></span>
                            <span><b> Data Final - </b> <%= l academy.end_date %></span>
                            <span><b> Descrição - </b> <%= academy.note %></span>
                        </div>

                        <% end %>
                    </div>

                    <div class="col-md-6">
                        <h4 class="card-title">Línguas</h4>

                        <% @creator.languages.each do |linguas| %>
                        <div class="alert alert-success">
                            <span><b> Língua - </b> <%= linguas.name %></span>
                            <span><b> Nível - </b> <%= linguas.level %></span>
                        </div>

                        <% end %>
                    </div>

                    <div class="col-md-6">
                        <h4 class="card-title">Experiências</h4>

                        <% @creator.experiences.each do |experience| %>
                        <div class="alert alert-info">
                            <span><b> Nome - </b> <%= experience.name %></span>
                            <span><b> Data Inicial - </b> <%= l experience.begin_date %></span>
                            <span><b> Data Final - </b> <%= l experience.end_date %></span>
                            <span><b> Endereço - </b> <%= experience.address %></span>
                            <span><b> Descrição - </b> <%= experience.note %></span>
                        </div>

                        <% end %>
                    </div>

                    <div class="col-md-6">
                        <h4 class="card-title">Habilidades</h4>

                        <% @creator.skills.each do |skill| %>
                        <div class="alert alert-info">
                            <span><%= skill.name %></span>
                        </div>

                        <% end %>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="places-buttons">

                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                  <%= link_to 'Editar', edit_creator_path(@creator),class:"btn btn-primary btn-block" %> 
                                    
                                </div>
                                <div class="col-md-4">
                                  <%= link_to 'Voltar', creators_path ,class:"btn btn-primary btn-block"%>
                                </div>
                                <div class="col-md-4">
                                  <%= link_to 'Criar PDF', creator_path(@creator, :format => :pdf),class:"btn btn-primary btn-block" %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>