<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title"><%= @creator.name %></h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Dados Pessoais</h4>
                        <div class="alert alert-info">
                          <span>
                                <b> Data de Nascimento - </b><%= @creator.birthday %></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                                <b> CPF - </b><%= @creator.cpf %></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                                <b> Email - </b><%= @creator.email %></span>
                        </div>
                        <div class="alert alert-info">
                          <span>
                                <b> Descrição - </b><%= @creator.description %></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Dados Profissionais</h4>

                        <% @creator.academies.each do |academy| %>
                        <div class="alert alert-success">
                            <span><b> Nome - </b> <%= academy.name %></span>
                            <span><b> Data Inicial - </b> <%= l academy.begin_date %></span>
                            <span><b> Data Final - </b> <%= l academy.end_date %></span>
                            <span><b> Descrição - </b> <%= academy.note %></span>
                        </div>

                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>