
<html>
<head>

    <title>CurriculumXD | Faça seu Curriculum, 2017 | naltispace@gmail.com</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

</head>
<body>

<div id="doc2" class="yui-t7">
    <div id="inner">
    
        <div id="hd">
            <div class="yui-gc">
                <div class="yui-u first">
                    <h1><%= @creator.name %></h1>
                    <h2><%= @creator.experiences.last.name %></h2>
                </div>

                <div class="yui-u">
                    <div class="contact-info">
                        <h3><a href="mailto:name@yourdomain.com"><%= @creator.email %></a></h3>
                        <h3><%= number_to_phone(@creator.phone_number,pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true)%></h3>
                    </div><!--// .contact-info -->
                </div>
            </div><!--// .yui-gc -->
        </div><!--// hd -->

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Apresentação</h2>
                        </div>
                        <div class="yui-u">
                            <p class="enlarge">
                                <%= @creator.description %> 
                            </p>
                        </div>
                    </div><!--// .yui-gf -->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Línguas</h2>
                        </div>
                        <div class="yui-u">
                        <% @creator.languages.each do |linguas| %>

                                <div class="talent">
                                    <h2><%= linguas.name %></h2>
                                    <p><%= linguas.level %></p>
                                </div>
                        <% end %>
                        </div>
                    </div><!--// .yui-gf -->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Habilidades</h2>
                        </div>
                        <% @creator.skills.each do |skill| %>
                        <div class="yui-u">
                            <ul class="talent">
                                <li class="last"><%= skill.name %></li>
                            </ul>
                        </div>
                        <% end %>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf">
    
                        <div class="yui-u first">
                            <h2>Experiência</h2>
                        </div><!--// .yui-u -->

                        <% @creator.experiences.each do |experience| %>
                        <div class="yui-u">

                            <div class="job">
                                <h2><%= experience.name %></h2>
                                <h3>Senior Interface Designer</h3>
                                <h4><%= experience.begin_date.year %>-<%= experience.end_date.year %></h4>
                                <p><%= experience.note %></p>
                            </div>

                        </div><!--// .yui-u -->
                            <% end %>
                    </div><!--// .yui-gf -->


                    <div class="yui-gf last">
                        <div class="yui-u first">
                            <h2>Educação</h2>
                        </div>

                        <% @creator.academies.each do |academy| %>

                        <div class="yui-u">
                            <div class="job">

                                <h2><%= academy.name if academy.name.present?%> - <%= academy.begin_date.year if academy.begin_date.present?  %> / <%=academy.end_date.year if academy.end_date.present?%></h2>
                                <h3><%= academy.note %> </h3>
                            </div>
                        </div>
                        <% end %>

                    </div><!--// .yui-gf -->


                </div><!--// .yui-b -->
            </div><!--// yui-main -->
        </div><!--// bd -->

        <div id="ft">
            <p>Feito em CurriculumXD &mdash; <a href="mailto:name@yourdomain.com">curriculumXD.com.br</a> &mdash; (313) - 867-5309</p>
        </div><!--// footer -->

    </div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

