<!DOCTYPE html>
<html>
  <head>
    <title>CurriculumXD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
  </head>

  <body>
     <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white">
        <div class="logo">
            <%= link_to root_path, title: "dashboard", class: "simple-text logo-normal" do %>
                CurriculumXD
              <% end %>

            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active ">
                        <a class="nav-link" >
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link">
                            <i class="material-icons">content_paste</i>
                            <p>Table List</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link">
                            <i class="material-icons">library_books</i>
                            <p>Typography</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link">
                            <i class="material-icons">bubble_chart</i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link">
                            <i class="material-icons">location_ons</i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link">
                            <i class="material-icons">notifications</i>
                            <p>Notifications</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <%= link_to root_path,class: "navbar-brand" do %>
                            CurriculumXD
                        <% end %>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                   <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    </div>
                  </div>
            </nav>

            <div class="content">
              <div class="container-fluid">
                  <%= yield %>
              </div>    
            </div>
            
          <footer class="footer ">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <%= link_to("Github", "https://github.com/NelcifranMagalhaes") %>
                            </li>

                            <li>
                                <%= link_to("Linkedin", "https://www.linkedin.com/in/nelcifranpires/") %>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright ">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made for
                        <%= link_to("Nelcifran", "https://www.linkedin.com/in/nelcifranpires/") %>
                    </div>
                </div>
            </footer>
        </div>
    </div>
  </body>
</html>
